* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url("../assets/about.jpg");
}

.logo {
    font-weight: bolder;
    color: #6c0f0f;
    font-size: 30px;
    margin: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.column {
    float: left;
    width: 23%;
    padding: 0 10px 0 10px;
}
  
.row {
    margin: 0 30px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}
  

.cards {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 96%;
    border-radius: 5px;
    background-color: #87cefa;
}
  
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
    padding: 2px 16px;
    width: 100%;
}

.image img {
    width: 200;
    height: 300;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.title {
    text-align: justify;
    padding: 5px;
    color: #6c0f0f;
}

.des {
    text-align: justify;
    padding: 4px;
}

.text {
    text-align: center;
    text-decoration: underline;
    font-size: 35px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-shadow: 1px 1px;
    cursor: pointer;
}

.title {
    cursor: pointer;
}

li {
    display: inline-block;
    margin-left: 20px;

}

ul {
    margin-left: 800px;
    margin-top: -50px;
}

ul li:hover {
    cursor: pointer;
    transform: scale(1.4);
}

ul li {
    margin-left: 60px;
}

.navbar {
    overflow: hidden;
    background-color: #9372ea;
    position: sticky;
    top: 0; 
    width: 100%;
  }
  
.navbar a {
    float: inline-end;
    display: block;
    color: #6c0f0f;
    text-align: left;
    text-size-adjust: auto;
    padding: 14px 16px;
    text-decoration: none;
  }
  
.navbar a:hover {
    color: black;
  }